{% extends "base.html" %}

{% block content %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    <div class="card" style="width: 100%; height: 100rem">
        <div class="card-body info">
            <h2 class="card-title" style="margin: auto">{{ lesson.title }}</h2><br>
            <p class="card-text">
            <font size="3">
                {{ lesson.theory }}
            </font>
            {% if tasks %}
                {% for task in tasks %}
                    <p>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ task.title }}</h5>
                            <a href="/study/lesson/task?id={{ task.id }}" class="btn btn-success">Смотреть</a>
                        </div>
                    </div>
                    </p>
                {% endfor %}
            {% else %}
                <p>
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">
                            <font size="5">
                            {% if user.is_teacher %}
                                Вы пока не добавили задач в этот урок
                            {% else %}
                                В этом уроке пока нет задач
                            {% endif %}
                            </font>
                        </p>
                    </div>
                </div>
                </p>
            {% endif %}
            </p>
            <p>
                {% if user.is_teacher %}
                    <a href="/study/lesson/task_creation?id={{ lesson.id }}" class="btn btn-success">Добавить задачу</a>
                {% endif %}
            </p>
        </div>
    </div>
    {{message}}
</form>
{% endblock %}
